---
pageclass: "page-modal"

---

- content_for :cssheader do
  = stylesheet_link_tag "prototypes/modal.css"

.site-container
  .modal-container{role: "dialog", aria: {labelledby: "KeyboardAccessibleModal"}}
    .modal-content
      .modal-content__header
        %button.btn--reset.btn--close.modal-trigger{type: "button"}Return to Page
      .modal-content__body
        %h2#KeyboardAccessibleModal Keyboard Modal Content
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sed aliquam vitae, rem modi soluta eum, fugiat obcaecati, sint esse quas culpa excepturi reiciendis dolorem quam ducimus doloremque laborum repudiandae.
        %a{href:"http://en.wikipedia.org/wiki/Potato_chip"}Tell me about Chips!
  .page-container
    .page-width.flex-container
      .layout-col-left
        %nav.nav--vertical{aria:{label: 'demo links for tabbing'}}
          %ul
            %li
              %a{href: "#"}Link
            %li
              %a{href: "#"}Link
            %li
              %a{href: "#"}Link
            %li
              %a{href: "#"}Link
            %li
              %a{href: "#"}Link

      .layout-col-right
        .content
          %h2
            Modal Prototype
          %p
            Keyboard focus - tab through to modal, open, close, repeat!
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos totam doloribus velit iusto blanditiis deserunt minima eveniet, expedita, dolor dolorum officiis veniam unde. Aliquam voluptatem obcaecati officia ducimus perspiciatis! Reprehenderit.

          %button{type: "button", class: "modal-trigger btn"}Trigger Modal Window

- content_for :htmlfooter do
  .page-width
    %nav
      %ul
        %li
          %a{href: "#"}Link
        %li
          %a{href: "#"}Link
        %li
          %a{href: "#"}Link
        %li
          %a{href: "#"}Link
        %li
          %a{href: "#"}Link

- content_for :jsfooter do
  = javascript_include_tag "prototypes/modal"