- content_for :cssheader do
  = stylesheet_link_tag "prototypes/responsive-tabs.css"

%h1
  Work In-progress:
  %br
  %span.sub-title
    Progressively-Enhanced Responsive, Accessible Tab Navigation Plugin
%ul.desc
  %li Turns into an accordion on tablet and mobile
  %li Works with JS disabled (content is still available and appears as headings + text, no tabs)
  %li ARIA works across states, dynamically updated via the JS
  %li Keyboard accessible
#TabContainer
  .accordion-wrapper
    %h2#TabPanelTitle-Tab1.tabs-container__title Tab 1
    #Tab1.tabs-container__panel
      %p First Tab Panel
      %a{"href" => "#"}Link
    %h2#TabPanelTitle-Tab2.tabs-container__title Tab 2
    #Tab2.tabs-container__panel
      %p Tab 2 Content
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
    %h2#TabPanelTitle-Tab3.tabs-container__title Tab 3
    #Tab3.tabs-container__panel
      %p Tab 3 Content
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et pulvinar eros, ut feugiat lacus. Duis convallis ligula id tempus rhoncus. Curabitur tempus metus sit amet accumsan pulvinar. Pellentesque sed aliquam nisl. Sed libero tortor, posuere quis quam sed, ultrices feugiat nulla. Fusce ullamcorper odio eget tempus rhoncus. Etiam lacinia odio quis faucibus auctor. Curabitur a velit vel nisi facilisis vulputate. Vivamus feugiat, arcu eget accumsan feugiat, purus risus aliquam justo, id fermentum mauris dolor sit amet libero. Aenean laoreet vel justo et eleifend. Nulla facilisi. Quisque sit amet arcu sit amet nibh sagittis viverra. Mauris fringilla cursus ipsum et mollis. Cras eget sapien consequat, tincidunt enim vitae, vehicula lacus. In tristique venenatis urna, nec tincidunt nisl vulputate a. Curabitur dictum neque non tempus rhoncus.


- content_for :jsfooter do
  = javascript_include_tag "prototypes/responsive-tabs"