/**

//HTML5 Boilerplate + Normalize Built In
*= require "vendor/html5bp.css"
*/

body {
    padding: 1.5em;
    font-family: "helvetica", arial, sans-serif;
    background: #999;
    color: #000;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gutter-bottom {
  margin-bottom: 20px;
}

button {
  border: none;
  background: none;
}

/*============================================================================
  Lists
==============================================================================*/
nav ul,
nav li {
  list-style: none;
}

nav li {
  float: left;
  margin-right: 20px;
}

/*============================================================================
  Typography
==============================================================================*/
a {
  color: #000;
}