body {
  background: #fff;
}


.form-red {
  color: #CF0B1A;
  input {
    border: solid 2px #CF0B1A;
  }
}

.form-green {
  color: #6ED31F;
  input {
    border: solid 2px #6ED31F;
  }
}
.page-spacer {
  margin-bottom: 100px;
}

p {
  max-width: 300px;
}

.container {
  padding: 200px;
  background: #ccc;
}

label, input {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border-radius: 2px;
  border: solid 1px #999;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
}

.better::-webkit-input-placeholder {
  color: #999;
  font-style: italic;
}

.error {
  display: block;
  font-size: 14px;
}
.phone-input {
  float: left;
  width: 60px;
  margin-right: 10px;
}