/*============================================================================
  Vars
==============================================================================*/
$color-body:                  #f9fafa;
$color-body-text:             #1B1B1B;
$color-body-text--light:      #a9a9a9;
$color-body-text--lighter:    #D3D3D3;
$color-body--dark:            #3b4548;
$color-grey-border:           #e5e5e5;